@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Raleway&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #081b29;
    color: White;
}

.header{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    padding: 20px 10%;
    background: #081b29;
    display:flex;
    justify-content:space-between;
    align-items:center;
    z-index:100;
}
.logo{
    font-size: 25px;
    color: white;
    text-decoration : none;
    font-weight: 600;

}
.navbar a{
    font-size:18px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 0.3s;
}
.navbar a:hover,
.navbar .active{
    color: #00abfe;
}

.home {
    
    margin-top:2rem;
    width: 100%;
    margin: 0 auto;
    text-align: left;
    
  }
  
  .home_content {
    height:90vh;
    margin: 3rem auto; 
    float: left;
    width: 70%;
    padding: 2rem;
    position: relative; 
 }
.home_content h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

.home_content h3 {
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
}

.home_content p {
    font-size: 16px;
    margin: 20px 0 40px;
}

.image {
    position: fixed;
    top: 15%;
    right: 5px;
    z-index: -1;
    width: 30%;
    height: 80%;
  }
  
  .image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .image:hover{
    border: 5px solid whitesmoke;
    box-shadow:black;

  }
