/* Add styles for the selectors.html file */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    }
    body{
        background: #081b29;
        color: White;
        flex:1;
        flex-direction: column;
        height: 100%;
        position:relative;
    }
    .header{
        position: fixed;
        top:0;
        left:0;
        width:100%;
        padding: 20px 10%;
        background:#081b29;
        display:flex;
        justify-content:space-between;
        align-items:center;
        z-index:100;
    }
    .logo{
        font-size: 25px;
        color: white;
        text-decoration : none;
        font-weight: 600;

    }
    .navbar a{
        font-size:18px;
        color: white;
        text-decoration: none;
        font-weight: 500;
        margin-left: 35px;
        transition: 0.3s;
    }
    .navbar a:hover,
    .navbar .active{
        color: #00abfe;
    }

.content {
    margin-top: 70px;
    padding: 20px;
}
h1{
    color:#00abfe;
}
button{
    height: 40px;
    width: 80px;
    margin: 2px solid black;
    background: transparent;
    border:3px white;
    color:#00abf0;
     z-index: 1;
     border-radius: 30%;
}
button:hover{
    cursor:pointer;
    background:white;
    transition:.3s;
    color:#081b29;
    border: 2px solid #081b29;
    transition: all 1s;
}