@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Raleway&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #081b29;
    color: White;
}

.header{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    padding: 20px 10%;
    background: #081b29;
    display:flex;
    justify-content:space-between;
    align-items:center;
    z-index:100;
    margin-bottom: 5rem;
}
.logo{
    font-size: 25px;
    color: white;
    text-decoration : none;
    font-weight: 600;

}
.navbar a{
    font-size:18px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 0.3s;
}
.navbar a:hover,
.navbar .active{
    color: #00abfe;
}
.home{
    height: 85vh;
}
.columns1{
    margin-top: 5rem;
    border: 2px solid white;
    height:250px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    float: left;
}
.columns1 img{
    float: left;
    max-height: 100%;
    width:250px;
}
.columns1 .data1{
    justify-content: center;
    align-items:center;
    margin-right: 30%;
    float : right;
    color: whitesmoke;
}
.columns2{
    border: 2px solid white;
    height:250px;
    width: 100%;
    float: right;
}
.columns2 img{
    float: right;
    max-height: 100%;
    width:250px;
}

.columns2 .data2{
    float: left;
    justify-content: center;
    align-items:center;
    margin-left: 30%;
    color: whitesmoke;
}

.columns3{
    border: 2px solid white;
    height:250px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    float: left;
}
.columns3 img{
    float:left;
    max-height: 100%;
    width:250px;
}
.columns3 .data1{
    justify-content: center;
    align-items:center;
    margin-right: 30%;
    float : right;
    color: whitesmoke;
}



